#page-map {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

#page-map nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow);
}

#page-map nav img {
  max-height: 2.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

#page-map nav button {
  width: 48px;
  height: 48px;
  margin-right: 2rem;

  border: 0;

  background: var(--yellow);
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-map nav button:hover {
  opacity: 0.3;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

#page-map .map-popup .leaflet-popup-content {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-content button {
  font-size: 1rem;
  color: #000;
  background: var(--yellow);
  border: 0;
  border-radius: 0.25rem;
  height: 3rem;

  transition: background-color 0.2s;
}

#page-map .map-popup .leaflet-popup-content button:hover {
  opacity: 0.8;
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}

footer {
  background: var(--yellow);
  display: flex;
  justify-content: center;
}
